<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="formulario-element">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

    <script>
        /**
         * `formulario-element`
         * Formulario para gregar maestros
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class FormularioElement extends Polymer.Element {
            static get is() {
                return 'formulario-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'formulario-element'
                    }
                };
            }
        }

        window.customElements.define(FormularioElement.is, FormularioElement);
    </script>
</dom-module>